body{
    font-size: max(1vw, 12px);
    line-height: 1.5;
    margin: 0;
    background-color: lightblue;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.containertop{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.logo{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    width: max(6vw, 60px);
}

header{
    background-color: cornflowerblue;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: blue 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: max(1vw, 15px);
}

ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    padding: 0 35px 0 35px;
}

header .title{
    float: left;
}

header .title h1{
    margin: 0;
    font-family: 'Quattrocento';
    font-size: max(2vw, 20px);
}

header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    float: right;
    margin-top: 10px;
    font-family: 'Ropa Sans';
}

header .current a{
    color: aquamarine;
    font-weight: bold;
}

header a:hover{
    color: darkblue;   
    font-weight: bold;
}

.showcase{
    min-height: 400px;
    background: url('../images/pink.png') no-repeat 0 -450px;
    text-align: center;
    color: black;
}

.showcase h1{
    margin-top: 50px;
    font-size: max(2.5vw, 20px);
    margin-bottom: 10px;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.showcase p{
    font-size: max(1.5vw, 15px);
    color: #000080;
    font-family: 'Varela Round';
    font-weight: bold;
}

.waystohelp h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    font-size: max(1.5vw, 15px);
    text-align: center;
}

.boxes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}


.boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.box img{
    width: max(7vw, 50px);
}

.boxes .box h3{
    font-size: max(2vw, 15px);
    font-family: 'Balsamiq Sans';
    color: #000080;
}

.boxes .box p{
    font-size: max(1.5vw, 10px);
    font-family: 'Hind Siliguri';
    color: #5224ad;
    font-weight: bold;
}

.box a{
    color: #e61259;
}

.box a:hover{
    color: #20a124 ;
}

.collector{
    float: left;
    margin-left: 20px;
}

.paragraph{
    text-align: center;
    font-size: max(1.8vw, 18px);
    font-family: 'Philosopher';
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    color: #CD025C;
}

.paragraph img{
    width: max(30vw, 300px);
}

.paragraph h1{
    color: #eb684f;
    text-decoration: underline;
}

.paragraph h2{
    color: #eb684f;
    font-weight: bold;
    font-size: max(5vw, 50px);
}

.textbubble{
    padding-right:25px;
}
.homeicons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.thx{
    font-size: max(2vw, 20px);
    font-family: 'Karla';
    color: #990000;
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background: url('../images/birdcolor.png') no-repeat 0 -400px;

}

.toppics{
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.contact img{
    width: max(6vw, 60px);
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bighead{
    background: url('../images/connectback.png') no-repeat 0 -400px;
    font-size: max(1.5vw, 15px);
    text-align: center;
    font-family: "Noto Sans JP";
    padding-top: 1px;
    padding-bottom: 1px;
    color: #5224ad;
    font-weight: bold;
}

.secondinfo{
    text-align: center;
    font-family: "Slabo 27px";
    font-size: max(2vw,20px);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    color: #99184B;
    font-weight: bold;

}

.followinfo{
    text-align: center;
    font-family: "Domine";
    font-size: max(2vw,20px);
    color: #177163;
    padding-top: 30px;
    font-weight: bold;

}

.addresslist{
    font-size: max(1.5vw, 15px);
    font-family: 'Hind Siliguri';
    color: #086b10;
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    padding-bottom: 20px;
}

.addresslist h1{
    font-size: max(2vw, 20px);
    text-decoration: underline;
}

.addresslist ul li{
    display: block;
    text-align: center;
}

 .slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current1{
    opacity: 1;
}

.buttons button#next { 
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev { 
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #ffffff;
    background-color: transparent;
    color: white;
    padding: 13px 15px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    font-size: max(1vw,5px);
}

.buttons button:hover{
    background-color: white;
    color: grey;
}

/* Gallery Images */
 .slide:first-child {
    background: url('../images/box.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(2){
    background: url('../images/hgabox.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(3){
    background: url('../images/cards1.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(4){
    background: url('../images/cards2.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(5){
    background: url('../images/cards3.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(6){
    background: url('../images/cards4.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(7){
    background: url('../images/cards5.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(8){
    background: url('../images/cards6.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(9){
    background: url('../images/cards7.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(10){
    background: url('../images/cards8.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(11){
    background: url('../images/cards9.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(12){
    background: url('../images/cards10.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(13){
    background: url('../images/cards11.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(14){
    background: url('../images/cards12.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(15){
    background: url('../images/cards13.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(16){
    background: url('../images/cards14.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(17){
    background: url('../images/cards15.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(18){
    background: url('../images/cards16.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(19){
    background: url('../images/cards17.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(20){
    background: url('../images/cards18.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(21){
    background: url('../images/cards19.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(22){
    background: url('../images/cards20.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(23){
    background: url('../images/cards21.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(24){
    background: url('../images/cards22.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(25){
    background: url('../images/cards23.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(26){
    background: url('../images/cards24.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(27){
    background: url('../images/cards25.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(28){
    background: url('../images/cards26.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(29){
    background: url('../images/cards27.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(30){
    background: url('../images/cards28.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(31){
    background: url('../images/cards29.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(32){
    background: url('../images/cards30.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(33){
    background: url('../images/cards31.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(34){
    background: url('../images/cards32.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(35){
    background: url('../images/cards33.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(36){
    background: url('../images/cards34.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(37){
    background: url('../images/cards35.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(38){
    background: url('../images/cards36.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(39){
    background: url('../images/cards37.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(40){
    background: url('../images/cards38.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(41){
    background: url('../images/cards39.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}
.slide:nth-child(42){
    background: url('../images/cards40.jpg') no-repeat center top/cover;
    background-size: calc(100vh - 250px);
}


 


@media only screen and (max-width: 889px) {
    header nav{
        float: left;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-size: 5px;
    }
    ul{
        padding-left: 25px;
    }
    header li{
        padding-left: 35px ;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 768px) {
     header li{
        display: inline;
        padding: 0 7px 0 7px;
    }
}
