body{
    font-size: max(1vw, 12px);
    line-height: 1.5;
    margin: 0;
    background-color: lightblue;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.containertop{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.logo{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    width: max(6vw, 45px);
}

header{
    background-color: cornflowerblue;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: blue 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: max(1vw, 15px);
}

ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    padding: 0 35px 0 35px;
}

header .title{
    float: left;
}

header .title h1{
    margin: 0;
    font-family: 'Quattrocento';
    font-size: max(2vw, 20px);
}

header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    float: right;
    margin-top: 10px;
    font-family: 'Ropa Sans';
}

header .current a{
    color: aquamarine;
    font-weight: bold;
}

header a:hover{
    color: darkblue;   
    font-weight: bold;
}

.hamburger{
    float: right;
    width: max(3vw, 18px);
    display: flex;
    flex-wrap: nowrap;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:cornflowerblue;
}
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
  .overlay a {
    padding: 8px;
    text-transform: uppercase;
    font-family: 'Ropa Sans';
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
  .overlay a:hover, .overlay a:focus {
    color: darkblue;
    font-weight: bold;
}
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
    
.showcase{
    min-height: 400px;
    background: url('../images/pink.png') no-repeat 0 -450px;
    text-align: center;
    color: black;
}

.showcase h1{
    margin-top: 50px;
    font-size: max(2.5vw, 20px);
    margin-bottom: 10px;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.showcase p{
    font-size: max(1.5vw, 15px);
    color: #000080;
    font-family: 'Varela Round';
    font-weight: bold;
}

.waystohelp h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: crimson;
    font-size: max(1.5vw, 15px);
    text-align: center;
}

.boxes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}


.boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.box img{
    width: max(7vw, 50px);
}

.boxes .box h3{
    font-size: max(2vw, 15px);
    font-family: 'Balsamiq Sans';
    color: #000080;
}

.boxes .box p{
    font-size: max(1.5vw, 10px);
    font-family: 'Hind Siliguri';
    color: #5224ad;
    font-weight: bold;
}

.box a{
    color: #e61259;
}

.box a:hover{
    color: #20a124 ;
}

.collector{
    float: left;
    margin-left: 20px;
}

.paragraph{
    text-align: center;
    font-size: max(1.8vw, 18px);
    font-family: 'Philosopher';
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    color: #CD025C;
}

.paragraph .textbubble1{
    padding-top: 20px;
    font-weight: bold;
    color: #000099;
}

.specialthx p{
    color: #0066ff;
    font-weight: bold;
    line-height: 10vh;
    font-size: max(1.5vw, 15px);
}

@media only screen and (max-width: 1160px) {
    .specialthx p{
        line-height: 6vh;
    }

}

.paragraph img{
    width: max(30vw, 140px);
}

.paragraph h1{
    color: #eb684f;
    text-decoration: underline;
    font-size: max(3vw, 30px);
}

.paragraph h2{
    color: #eb684f;
    font-weight: bold;
    font-size: max(4vw, 40px);
}

.textbubble{
    padding-right:25px;
}
.homeicons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.thx{
    font-size: max(1vw, 10px);
    font-family: 'Karla';
    color: #990000;
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background: url('../images/birdcolor.png') no-repeat 0 -400px;
}

.star{
    color: red;
}

.toppics{
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.thxpics{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.contact img{
    width: max(3vw, 25px);
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footerp{
    padding-right: 2rem;
}

footer{
    background-color: darkslategrey;
}

.bighead{
    background: url('../images/connectback.png') no-repeat 0 -400px;
    font-size: max(1.5vw, 10px);
    text-align: center;
    font-family: "Noto Sans JP";
    padding-top: 1px;
    padding-bottom: 1px;
    color: #5224ad;
    font-weight: bold;
}

.secondinfo{
    text-align: center;
    font-family: "Slabo 27px";
    font-size: max(2vw,15px);
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    color: #99184B;
    font-weight: bold;

}

.followinfo{
    text-align: center;
    font-family: "Domine";
    font-size: max(2vw,15px);
    color: #177163;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;

}

.nbc{
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    display: inline-flex;
    justify-content: center;
}

.nbcbayarea{
    position: absolute;
    width: 70%;
    height: 90%;
}

.kcbs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.audio{
    width: max(50vw,200px);
    padding-bottom: 0.5rem;

}
.tricityvoice img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    cursor: pointer;
}

.addresslist{
    font-size: max(1.5vw, 15px);
    font-family: 'Hind Siliguri';
    color: #086b10;
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    padding-bottom: 20px;
}

.addresslist h1{
    font-size: max(2vw, 20px);
    text-decoration: underline;
}

.addresslist ul li{
    display: block;
    text-align: center;
}

.addresslist h3{
    color: #ff0066;
    font-size: max(1.5vw, 15px);
}

.titles{
    font-size: max(2vw, 20px);
    text-align: center;
    font-family: 'Itim';
    font-weight: bold;
}

.titles a{
    color:#5224ad;
}

.titles a:hover{
    color: #F14830;
}

.repost .rpic{
   width: max(7vw, 50px);

}

.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.space{
    padding-right: 2rem;
}


@media only screen and (max-width: 655px){
    .space {
        padding-right: 0.25rem;
}
}


.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.click{
    text-align: center;
    padding-bottom: 2rem;
    font-size: max(2vw,15px);
    color: rgb(201, 17, 17);
    font-family: 'Itim';

}


.content_gal{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;max-width:820px;margin:20px auto;}
.galleria{ height: 432px; max-width:820px }


@media only screen and (max-width: 889px) {
    header nav{
        float: left;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-size: 5px;
    }
    ul{
        padding-left: 25px;
    }
    header li{
        padding-left: 35px ;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 768px) {
     header li{
        display: inline;
        padding: 0 7px 0 7px;
    }
}

@media only screen and (max-width: 1141px) {
    header nav{
        display: none;
    }
    header .hamburger{
        float: right;
    }
}

@media only screen and (min-width: 1141px) {
    header .hamburger{
        display: none;
    }
    
}
